<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    It's interpolation {{ interpolation }}!
  </h1>
  <input [value]="propertyBinding"/>
  <button (click)="onButtonClicked()">Event binding</button>
  <h1>
    It's event binding {{eventBinding}}
    Count: {{eventCount}} 
  </h1>
  <input [(ngModel)]="ngBinding" />
  <h1>
    It's ngModel two-way-data-binding {{ngBinding}}!!
  </h1>
  <input [ngModel]="nameModel" (ngModelChange)="nameModel=$event">
  <h1>
      It's ngModel two-way-data-binding {{nameModel}}!!
    </h1>
</div>
